[Desktop Entry]
Encoding=UTF-8
Name=Link to .gitignore
Type=Link
URL=https://github.com/mohammad-alfaifi/max.effect/blob/master/.gitignore
Icon=text-html
